@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic');
@media only screen and (max-width: 600px){
  .col{
    display: block;
    width: 100%;
  }
}
*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;

  background-color: rgba(60,60,60,1);
}

.logo{
  width: 60%;
  height: auto;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: sans-serif;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
li a:hover{
  background-color: #111;
}

.flex-cointainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.col-1{
  wdith: 20%;
}
.col-2{
  width: 40%;
}
.col-3{
  width: 60%;
}

.col-4{
  width: 80%;
}
.col-5{
  width: 100%;

}

[class*="col-"]{
  float: left;
  display: block;

  padding: 10px;


}
.row::after{
  content:"";
  clear: both;
  display: table;
}
p{
  color: white;
  padding: 20px;

}

.main{
  background-color: #333;
}

a.link{
  text-decoration: none;
  color: rgba(255,255,255,0.65);

}
p.text{
  color: white;
}

.contact{
  border: 2px solid white;
  padding: 30px;
  max-width: 50%;
  margin: auto;
  background-color: #333;


}

.image{
  max-width: 100%;
  max-height: auto;
}

#boxes{
  border: 20px solid rgba(255,255,255,0.4);
  max-width:200px;
  min-width: 100px;
  height: auto;
  padding: 8px;
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  margin: auto;

}
.slides{
  max-width: 100%

}

a.bt-title {
  text-decoration: none;
  color: rgba(255,120,0,1);


}

a.more{
  text-decoration: none;
  color: rgba(255,120,0,1)
}

#footer{
  color: white;
  background-color: #333;
  border: 1px solid white;
  padding: 15px;
  text-align: center;


}

.slideshow {
  background:transparent;
  margin: auto;
  border: 5px solid black;
  padding:0;
  z-index:1;
  overflow: visible;
  position: relative;
  max-width: 750px;
  width:80%;
}

/*.slidediv {
  float:left;
  background:none;
  list-style-type:none;
  z-index:2;
  visibility:hidden;
}

.ssprev,.ssnext {
  width:20px !important;
  height:20px !important;
  background:transparent;
  border:none;
  z-index:1024;
}

.ssprev img,.ssnext  img{
  border: 0;
}

.ssbutton {
  clear:both;
  text-align:right;
  height:20px;
  margin-right:0;
  padding-top:6px;
  width:100%;
  background:transparent;
}

.ssbutton a:focus {
  background: none !important;
}

.slideshow li {
  background: none;
  list-style: none;
}

.slideshow img, .slideshow li {
  background:none !important;
}

.bgs_bottom {
  background:none;
  height:57px;
  width:100%
}

.bgs_bottom_left {
  background:url(../img/shadow_left.png) 0 0 no-repeat;
  width:50%;
  float:left;
  height:57px;
}
.bgs_bottom_right {
  background:url(../img/shadow_right.png) top right no-repeat;
  width:50%;
  height:57px;
  line-height:0%;
  font-size:0%;
  float:right;
}
*/
